:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --white: #fff;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navyblue-modal: #2e2f4266;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--navyblue);
  font-style: normal;
}
.navyblue {
  color: var(--navyblue);
}
.iris {
  color: var(--iris);
}
.cloud {
  color: var(--cloud);
}
.is-hidden {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}
.container {
  max-width: 428px;
  margin: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  width: 115px;
  margin-right: 20px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }
}

/* menu mobile */
.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0;
  translate: -100% 0 0;
  transition: var(--transition);
  background-color: var(--white);
}
.mobile-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.mobile-menu.is-open {
  translate: none;
}
.menu-mob {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 80px;
  margin-left: 40px;
}
.mobile-menu-item {
  font-size: 36px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}
.current {
  position: relative;
  color: var(--ocean);
}
.menu-button {
  position: absolute;
  inset: 1em 1em auto auto;
}

.hamburger-btn {
  background-color: transparent;
  border: none;
}
.hamburger-icon {
  display: flex;
  flex-wrap: wrap;
}

.centerx {
  width: 8px;
  height: 8px;
  margin: auto;
}
.mob-menu-close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.mob-menu-address {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-left: 40px;
  margin-top: 284px;
}
.mob-menu-tel {
  color: var(--iris, #4d5ae5);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
}
.mob-menu-mail {
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 48px;
  text-decoration: none;
}
.mob-menu-icons {
  display: flex;
  gap: 56px;
  margin-left: 40px;
  margin-top: 48px;
  margin-bottom: 40px;
}
.media-icon {
  width: 24px;
  height: 24px;
}
.mob-media-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: var(--white);
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
}
.media-icon:hover .media-icon:focus .media-icon:active {
  background-color: var(--green);
  transition: var(--transition);
  cursor: pointer;
}
.head-nav {
  display: none;
}

/* menu tablet/desktop */
.head-nav {
  border-top: none;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  width: 115px;
  margin-right: 20px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-nav {
  display: flex;
  gap: 40px;
}
.menu-item {
  margin: 0;
  padding: 0px;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: var(--navyblue);
}
.is-active .current {
  position: relative;
  color: var(--ocean);
}
.is-active .current::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
}
.menu-item:hover {
  color: var(--ocean);
  transition: var(--transition);
}
.menu-item:focus {
  color: var(--ocean);
  transition: var(--transition);
}
.contact-list {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0px;
  margin-left: auto;
}
.contact-list li:not(:last-child) {
  margin-right: 40px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.contact:hover {
  color: var(--ocean);
  transition: var(--transition);
}
.contact:focus {
  color: var(--ocean);
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .mob-head-nav {
    display: none;
  }
  .head-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
  }
  .contact-list {
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-header {
    display: none;
  }
  .head-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 24px;
    padding-left: 156px;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu-nav {
    display: flex;
    gap: 40px;
  }
}
/* hero */
.header-background {
  max-width: 428px;
  height: 432px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: var(--navyblue);
  background-image: linear-gradient(hsl(0 0% 0%/ 0.5), hsl(0 0% 0%/ 0.5)),
    url("../images/people-office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.front-button {
  padding: 16px 32px;
  display: inline-flex;
  gap: 10px;
  margin-bottom: 188px;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.15);
}
.front-button:hover {
  background-color: var(--ocean);
  transition: var(--transition);
}
.header-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header {
  display: flex;
  align-content: center;
  color: var(--white);
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 188px 0 48px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.hero-title {
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .header-background {
    height: 433px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-background {
    height: 600px;
    max-width: 1440px;
  }
  .main-header {
    font-size: 56px;
    font-weight: 700;
    max-width: 496px;
  }
}
@media screen and (max-width: 767px) {
  .main-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    width: 320px;
  }
}
/* our values */
.mob-ideas {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.mob-advantages {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 8px;
}

.mob-discription {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.icon-background-ad {
  display: none;
}
@media screen and (min-width: 768px) {
  .mob-ideas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 72px 24px;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .mob-ideas li {
    flex-direction: row;
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .mob-ideas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .mob-ideas li {
    width: 264px;
  }
}
@media screen and (min-width: 768px) {
  .mob-advantages {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .mob-advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding: 8px 0;
  }
}
.top-marg {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .top-distanse {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .top-distanse {
    margin-top: 0;
  }
}
.icon-background-ad {
  display: none;
}

@media screen and (min-width: 1200px) {
  .icon-background-ad {
    display: flex;
    padding: 24px 100px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
  }
}
/* what are we doing */
.work {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1440px;
  flex-shrink: 0;
  padding-bottom: 120px;
  padding-top: 72px;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.work-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.what-we-do {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}

.what-we-do ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.what-we-do ul li {
  display: flex;
  border: 1px solid var(--cornflower, #e7e9fc);
}

/* our team */
.header2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team-section {
  padding-bottom: 120px;
  padding-top: 120px;
  background: var(--cloud);
}
.team-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.person-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding: 32px 0 8px 0;
}
.person-position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
  padding-bottom: 32px;
}
.team-icons-list {
  display: flex;
  gap: 24px;
}
.team-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: var(--white);
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
}
.person-media-icon {
  width: 16px;
  height: 16px;
}
.team-icon:hover {
  background-color: var(--ocean);
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .team-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 64px;
    gap: 24px;
    justify-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* customers */
.customers-section {
  margin-bottom: 96px;
  margin-top: 96px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customer-icon {
  border-radius: 4px;
  border: 2px solid #8e8f99;
  width: 190px;
  height: 88px;
  padding: 16px 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--subtletext, #8e8f99);
}
.clients-icon {
  width: 110px;
  height: 56px;
  flex-shrink: 0;
}

.customer-icon:focus,
.customer-icon:hover {
  border-color: var(--ocean);
  fill: var(--ocean);
  cursor: pointer;
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .customers {
    column-gap: 24px;
  }
  .customer-icon {
    width: 168px;
  }
  .clients-icon {
    width: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    row-gap: 0;
  }
  .clients-icon {
    width: 104px;
  }
}
/* footer mobile */
.footer {
  background-color: var(--navyblue);
  height: 664px;
  flex-shrink: 0;
}
.logo-footer {
  /* margin-top: 101.5px; */
  width: 115px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin: auto;
}
.footer-txt {
  width: 264px;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 16px;
  margin: 0 auto;
}
.footer-flex {
  background: var(--navyblue, #2e2f42);
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.icon-footer {
  border-radius: 50%;
  background-color: var(--iris, #4d5ae5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.icon-footer:hover,
.icon-footer:focus {
  cursor: pointer;
  background-color: var(--green);
  transition: var(--transition);
}
.footer-social-txt {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 16px;
  text-align: center;
}

.footer-social-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.studio-media-link {
  display: flex;
}
.studio-media-icon {
  width: 24px;
  height: 24px;
}
.studio-media-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white);
}
@media screen and (max-width: 1200px) {
  .footer-flex {
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: row;
    align-items: baseline;
    /* flex-wrap: wrap; */
    justify-content: left;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 101.5px;
    max-width: 1158px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-txt {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo-footer {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .social-media {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .social-media {
    margin-left: 60px;
  }
}
@media screen and (min-width: 768px) {
  .social-media p {
    text-align: left;
  }
}

/*newsletter */

@media screen and (min-width: 768px) {
  .newsletter {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 80px;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .newsletter-form {
    flex-direction: row;
    gap: 24px;
    align-items: end;
  }
}

.newsletter-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  color: var(--white);
  align-items: center;
}

@media screen and (min-width: 768px) {
  .newsletter-label {
    align-items: baseline;
  }
}

.newsletter input {
  background-color: var(--navyblue);
  border: 1px solid var(--white);
  border-radius: 4px;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100vw;
  max-width: 398px;
  height: 40px;
  padding: 8px 16px;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .newsletter input {
    width: 264px;
  }
}

.newsletter-form button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 40px;
  width: 165px;
  border-radius: 4px;
  border: 1px solid var(--iris);
  background: var(--iris, #4d5ae5);
  color: var(--white);
  transition: var(--transition);
}

.newsletter-form button:hover,
.newsletter-form button :focus {
  background: var(--ocean);
  border: 1px solid var(--ocean);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.centerx {
  width: 8px;
  height: 8px;
  margin: auto;
}
.close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.order-form-name {
  text-align: center;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  padding: 62px 24px 16px 24px;
}
.form-label {
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--lightslate);
  padding-left: 24px;
}
.order-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  margin-top: 4px;
  padding-left: 38px;
  inset: 16px;
}
.order-position {
  position: relative;
  padding: 0px 24px 8px 24px;
}
.order-position:focus-within {
  fill: var(--iris);
  transition: var(--transition);
}
.comment-textarea {
  padding-left: 16px;
  padding-top: 16px;
  font-size: 12px;
  line-height: 1.16px; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--navyblue-modal);
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  margin-top: 6px;
}
.comment-textarea:focus,
.order-input:focus {
  outline: 1px solid var(--iris);
  border-radius: 4px;
  transition: var(--transition);
}
.order-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
}
.checkbox-wrapper {
  margin-left: 24px;
}
.checkbox-label {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.checkbox-icon {
  fill: var(--white);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navyblue-modal);
}

.modal-checkbox:checked + .checkbox-label > .checkbox-icon {
  fill: var(--ocean);
  fill-opacity: 1;
  background-color: var(--ocean);
  border: none;
  border-radius: 2px;
  transition: background-color var(--transition);
}

.modal-check-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
}
.modal-button-send {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-left: 119px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 32px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-button-send:hover .modal-button-send:active {
  background-color: var(--ocean);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .modal-box {
    width: 408px;
  }
}
